<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.antitypical.dt.unit.workspace</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>workspace</string>
			<key>Name</key>
			<string>Add a workspace</string>
			<key>Description</key>
			<string>Whether to add a workspace</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>../___PACKAGENAMEASIDENTIFIER___.xcworkspace</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>../___PACKAGENAMEASIDENTIFIER___.xcworkspace</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAMEASIDENTIFIER___.xcworkspace</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
